
.all
  .side
    .side__header
      %p.side__header__user-name
        = current_user.name
      %ul.side__header__menu
        %li.side__header__menu__new-group
          = link_to new_group_path do
            %i.far.fa-edit.my-white
        %li.side__header__menu__edit
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog.my-white



    .groups
      /each文あとでつける
      = render partial: "group", locals: {}



  .main
    .main__header
      .main__header__group
        %p.main__header__group__name
          aa
        %p.main__header__group__member
          Member:tt
      %a.main__header__edit{ href: ''}
        Edit
    /ここもeach
    .messages
      = render partial: "message", locals: {}



    %form.form{ action: '', method: 'post'}
      .form__new
        .form__new__input
          %input.form__new__input__text{ placeholder: 'type a message', type: 'text' }
          %label.form__new__input__label
            %span
              %i.far.fa-image.fa-lg.form__new__input__label__button
            %input.form__new__input__label__send{ type: 'file'}
        %input.form__new__submit{ type: 'submit', value: 'Send'}

