
.all
  .side
    .side__header
      %p.side__header__user-name
        = current_user.name
      %ul.side__header__menu
        %li.side__header__menu__new-group
          = link_to new_group_path do
            %i.far.fa-edit.my-white
        %li.side__header__menu__edit
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog.my-white
    .groups
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            .group__name
              = group.name
            .group__message
              = group.show_last_message





  .main
    .main__header
      .main__header__group
        %p.main__header__group__name
          = @group.name
        %p.main__header__group__member
          = "Member : "
          - @group.users.each do |user|
            = user.name
      .main__header__edit
        = link_to "Edit", edit_group_path(@group), class: '.main__header__edit__button'


    .messages
      = render @messages



    .form
      = form_for [@group, @message], html: {id: 'form__new'} do |f|
        .form__new__input
          = f.text_field :content, class: 'form__new__input__text', placeholder: 'type a message'
          = f.label :image, class: 'form__new__input__label' do
            %span
              %i.far.fa-image.fa-lg
            = f.file_field :image, class: 'form__new__input__label__send'
        = f.submit 'Send', class: 'form__new__submit'
